<!DOCTYPE html>
<html lang="es">
<head>
    <title>Code.DEV</title>
    <link rel="stylesheet", href="/css/header.css"></link>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>

<body>
    <header class="header">
        <span id="toggle-menu" class="material-icons menu">menu</span>
        <span id="toggled-menu" class="material-icons menu">menu_open</span>
        <div class="header-container logo-nav-container">
            <div class="search-bar">
                <span>Code.DEV API documentation</span>
            </div>
            <nav class="navigation">
                
            </nav>
        </div>
    </header>
    <div class="main">
        <div>
            <h2>Courses: </h2>
            <div>GET <a href="/api/courses">/api/courses</a></div>
        </div>
        <div>
            <h2>Course Content: </h2>

            <div>Get <a href="/api/contents/c01_topic01">/api/contents/:id</a></div>
            <div>POST /api/contents/</div>
            <div>PUT /api/contents/:id</div>
        </div>
    </div>
</body>

</html>