<!DOCTYPE html>
<html lang="es">
<head>
    <title>Code.DEV</title>
    <link rel="stylesheet", href="/css/header.css"></link>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>

<body>
    <header class="header">
        <span id="toggle-menu" class="material-icons menu">menu</span>
        <span id="toggled-menu" class="material-icons menu">menu_open</span>
        <div class="header-container logo-nav-container">
            <div class="search-bar">
                <input type="text" class="search-input" placeholder="Buscar en Code.dev.."/>
                <span class="material-icons search-button">search</span>
            </div>
            <nav class="navigation">
                <ul>
                    <li><a href="#"><span class="material-icons clickable" title="Notificaciones">notifications</span></a></li>
                    <li><a href="#"><span class="material-icons clickable" title="Mi Cuenta">account_circle</span></a></li>
                    <li><a href="#"><span id="salir" class="material-icons clickable" title="Salir">exit_to_app</span></a></li>
                </ul>
            </nav>
        </div>
    </header>
    <h1>Hello Fastify</h1>
</body>

</html>